# Python Virtual Environment
.venv/
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Jupyter Notebook
.ipynb_checkpoints

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Data files (if you don't want to commit large datasets)
Fraud.csv

# Model files
*.pkl
*.model

# Logs
*.log

Task Details.pdf
